<div>
    <div class="row">
        <ng-container *ngFor="let item of items;">
            <div class="col-md-4">
                <nb-card status="success">
                    <nb-card-header>{{item?.title}}</nb-card-header>
                    <nb-card-body>
                        <div class="track-info">
                            <img [src]="item.image" alt="{{item?.title}}" width="500" height="600">
                            <div class="details">
                                {{item?.description}}
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>{{item?.price}}</nb-card-footer>
                </nb-card>
            </div>
        </ng-container>
    </div>
</div>